@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}

p,h1,ul, .frontabout, .frontprojects, .frontexperience, .frontresume, .about, .projects, .experience{
  font-family: "Comic Sans MS", cursive, sans-serif;
}

body { 
  background-size:cover;
}

.bar{
  display: none;
  z-index: 900;
}

ul {
  display: block;
  list-style-type: none;
  padding: 8px 0 8px 16px;
  text-decoration: none;
  background-color: #f1f1f1;
  width: 200px;
  float: right;
  font-size: 20px;
}

li a {
  display: block;
  color: #000;
  padding: 8px 0 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #78B1C4;
  color: white;
}

/* Front Page */

.name h1{
  display:: inline;
  text-align: center;
  font-size: 100px !important;
  margin-top: 250px;
  margin-bottom: 75px;
  width: 100%;
  color: #FFFFFF;  /*78B1C4;*/
}

.btn btn-lg btn-default:hover{
  padding: 8px 0 8px 16px;
  background-color: #78B1C4 !important;
  color: white;
  width: 10%;
}



.about, .projects, .experience{
  display: none;
  padding-left: 50px;
  padding-top: 5px;
  font-size: 20px;
  width: 75%;
}
.about h1, .projects h1, .experience h1{
  font-size: 60px;
  color: #78B1C4;
  width: 25%;
}

.about h1, .about p, .projects p, .projects h1, .experience h1, .experience p{
  background-color: #F6F6F6;
}

.about img{
  width: 4%;
  height: auto;
}

.projects img{
  width: 4%;
  height: auto;
}

.projects{
  display: none;
}

.experience{
  display: none;
}
