@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}

html, body, figure, figcaption{
  margin: 0 !important;
  padding: 0 !important;
}

figcaption{
  height: 100%;
  width: 100%;
}

body{
  background: url("images/cup.jpg") 0 0 no-repeat fixed;
  background-size: cover;
}

.contain{
  padding-bottom: 50px !important;
  background-color: #EFEFEF;
  opacity: 0.95;
}

body {
  font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif !important;
}

.row-front{
  margin: 0;
  padding: 0;
  background: url("images/cup.jpg");
  opacity: .9;
  background-size: cover;
  width: 100%;
  height: 100%;
  float: left;
  display: inline;
  overflow: hidden;
}

.row-front img{
  z-index: 0;
  margin: 0 !important;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0 !important;

}

/*
.bar{
  display: none;
  z-index: 900;
}

.bar, .bar ul{
  display: block;
  list-style-type: none;
  padding: 8px 0 8px 16px;
  background-color: #DBEFF6;
  width: 200px;
  float: right;
  font-size: 20px;
  border-top-left-radius:15px;
  border-bottom-left-radius:15px;
}

.bar li a {
  display: block;
  color: #000;
  padding: 16px 0 16px 16px;
  text-decoration: none;
}


.bar li a:hover {
  background-color: #78B1C4;
  color: white;
  text-decoration: none;
  border-top-left-radius:15px;
  border-bottom-left-radius:15px;
}
*/
.icons{
  display: block;
  margin: auto;
  margin-top: 10px;
}


/* Front Page */

.image-cropper {
  width: 450px;
  height: 450px;
  display: block;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.fa:hover, .btn:hover{
  color:#fff !important;

}

.fa{
  border-right-width: 0px !important;
}

.btn-social-icon{
  margin-top: 8px;
  margin-left: 5px !important;
  border: none;
}

.fa:hover{
  color: #000 !important;
}

.btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding:0}.btn-social-icon>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}

img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.name, .schooltitle{
  font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
  display:: inline;
  text-align: center;
  font-size: 100px;
  color: #317389;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1), 0 0 1px #317389;
  margin-top: 2%;
  width: 100%;
  margin-bottom: 15px;
  font-weight: bold;
}

.schooltitle{
  margin-top: 10px;
  font-size: 60px !important;
}


.about, .projects, .experience{
  display: none;
  font-size: 20px;
}
.about h1, .projects h1, .experience h1{
  font-size: 100px;
  color: #317389;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1), 0 0 1px #317389;
  font-family: 'Concert One', serif;
}


.about img{
  width: 4%;
  height: auto;
}

.projects img{
  width: 4%;
  height: auto;
}

.projects{
  display: none;
}

.experience{
  display: none;
}

.title-experience{
  padding-bottom: 15px;
  
}

.title-jobs{
  border-bottom: 1px black solid;
  color: #7CB4B7;
  margin-bottom: 45px;
}

.title-jobs h2{
  font-size: 40px;
}

.exp-row h2{
  font-size: 40px;
  color: #57769E;
}

.exp-row{
  height: 200px;
}

.exp-row a{
  padding-bottom: 10px;
}

.exp-row a:hover{
  text-decoration: none;
}
