@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}

p,h1,ul, .frontabout, .frontprojects, .frontexperience, .frontresume{
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.navbar{
  display: none;
}

ul {
  display: block;
  list-style-type: none;
  padding: 8px 0 8px 16px;
  text-decoration: none;
  background-color: #f1f1f1;
  width: 200px;
  float: right;
  font-size: 20px;
}

li a {
  display: block;
  color: #000;
  padding: 8px 0 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #78B1C4;
  color: white;
}

/* Front Page */

.name{
  visibility: visible;
  text-align: center;
  font-size: 50px;
  padding-top: 100px;
  width: 100%;
  color: #78B1C4;
}

a.frontabout, a.frontprojects, a.frontexperience{
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  padding: 8px 0 8px 16px;
  color: initial;
  float: left;
  width: 10%;
}

.frontabout:hover, .frontprojects:hover, .frontexperience:hover , .frontresume:hover{
  padding: 8px 0 8px 16px;
  background-color: #78B1C4;
  color: white;
  width: 10%;
}

.frontresume{
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  padding: 8px 0 8px 16px;
  color: initial;
  width: 5%;
  float: right;
}


.col-left{
  float: left;
  width: 24%;
}
.col-right{
  float: right;
  width: 24%;
}
.col-center{
  display: inline-block;
  width: 24%;
}
